{% if site.data.navigation %}
  <div class="navigation-wrapper">
    <a href="#menu-toggle" id="menu-toggle">{{ site.data.text[site.locale].menu_label | default: 'Menu' }}</a>
    <nav id="primary-nav" class="site-nav animated drop">
      <ul>
        {%- for link in site.data.navigation -%}
          {%- assign url = link.url -%}

          {%- if url contains '://' -%}
            <li><a href="{{ url }}" target="_blank" rel="noopener noreferrer">{{ link.title }}</a></li>
          {%- else -%}
            <li><a href="{{ url | relative_url }}">{{ link.title }}</a></li>
          {%- endif -%}

        {%- endfor -%}
      </ul>
    </nav>
  </div><!-- /.navigation-wrapper -->
{% endif %}
